.coustom-button{
    border: 1px solid #ffce1a;
    background-color: #ffce1a;
    color:#fff
  }
  .coustom-button:hover{
    border: 1px solid #f6c104d0;
    color: #ffce1a;
    background: none;
  }